.circle {
  display: inline-block;
  width: 25px;
  height: 25px;

  border: 4px solid #dddddd;
  border-radius: 50%;

  &--white {
    background-color: white;
  }

  &--black {
    background-color: black;
    border-color: black;
  }

  &--red {
    background-color: #d74345;
    border-color: #d74345;
  }

  &--gray {
    background-color: #cbcbcc;
    border-color: #cbcbcc;
  }

  &--green {
    background-color: #88c504;
    border-color: #88c504;
  }
}
